.bg {
  background-image: conic-gradient(#000000, #000000);
}


.one{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.two{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
   
}

.hor{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.slide {
    width: 450px;
}

.center {
  
  display: flex;
  justify-content: center;
}

.gif{

    width: 450px;


}